---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allRecipes = await getCollection('recipes');
---

<Layout title="Welcome to Astro.">
	<header class="py-20 text-center">
		<h1 class="">
			<span class="mb-5 text-5xl capitalize font-extrabold tracking-tighter bg-clip-text inline-block text-transparent bg-gradient-to-r from-skyblue-400 to-skyblue-600 sm:text-6xl">Meal Recipes</span>
		</h1>
	</header>

	<section>
		{
			allRecipes.map((recipe) => {
				const { data, slug } = recipe;
				const { title } = data as unknown as { title: string };

				return (
				<a href={`/recipe/${slug}`}>
					{	title }
				</a>
				)
			})
		}
	</section>
</Layout>
