---
interface Props {
  colClass: string
	space?: boolean
	bg?: boolean
}

const { colClass, space = true, bg } = Astro.props
---

<div class:list={[
  "relative bg-white backdrop-blur-sm shadow-sm shadow-skyblue-600/15 rounded-2xl overflow-hidden h-full w-full",
  colClass,
	space && "p-8",
	bg && "bg-gradient-to-br from-skyblue-300 to-skyblue-100"
]}>
  <slot />
</div>