---
import '@fontsource-variable/nunito-sans';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div>
			<!-- <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right, bg-sky-200,transparent_1px),linear-gradient(to_bottom, bg-sky-200,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#c5e3f2,transparent)]"
      ></div>
    </div> -->
			<slot />
		</div>
	</body>
</html>


<style is:global>

	html {
		@apply bg-white
	}

	body {
		@apply grid place-items-center px-10 lg:px-20 bg-gradient-to-br from-sky-100 to-white text-primary;
	} 

	body > div {
		@apply relative w-full max-w-screen-xl min-h-screen ;
	}

	.content-recipe {
    & > h2 {
      @apply text-3xl font-bold mb-6 text-skyblue-800;
    }

    & > ol {
      @apply space-y-4 flex flex-col;

      & > li {
        @apply relative inline-flex gap-x-4 items-start justify-start;

        &::before {
          @apply content-[''] size-6 bg-skyblue-800 text-white text-base rounded-full;
        }
      }
    }
  }
</style>
